%div{ id: 'main-container' }

  %div{ id: 'navigation-bar' }
    %h1
      Find<strong>Me</strong>
    = link_to 'Logout', logout_main_index_path, { method: 'delete', id: 'logout-link' }

  %div{ id: 'content-holder' }
    %div{ id: 'map-container' }
    %div{ id: 'stream-container' }
      stream

  %footer
    footer here


= content_for :page_scripts do
  = javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyCV1cXbVVj0B01oWC1xfTgBk7d-tqDsfKI&sensor=true'
  = javascript_include_tag "/assets/#{ params[:controller] }/map"
  = javascript_include_tag "http://#{ request.env['SERVER_NAME']  }:9595/socket.io/socket.io.js"
  = javascript_include_tag "/assets/#{ params[:controller] }/#{ params[:controller] }"

  = stylesheet_link_tag "/assets/#{ params[:controller] }/#{ params[:controller] }"
